﻿<?php if(!empty($messages) && is_array($messages) && count($messages) > 0) : ?>
    <?php foreach ($messages as $message) : ?>
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <?=$message?>
        </div>
    <?php endforeach; ?>
<?php endif; ?>

<?php if(!empty($errors) && is_array($errors) && count($errors) > 0) : ?>
    <?php foreach ($errors as $error) : ?>
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <?=$error?>
        </div>
    <?php endforeach; ?>
<?php endif; ?>

<?php if(!empty($form_data) && !empty($send_url) && !empty($asset) && !empty($amount)) : ?>
    <div class="panel panel-primary panel-border">
        <div class="panel-heading">
            <h3 class="panel-title"><?= $locale->_('Confirm payment') ?>: <?=number_format($amount, 2, '.', '')?> <?=$asset?></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <form method="post" action="<?=$send_url?>">
                            <?php foreach($form_data as $key => $value) : ?>
                                <input type="hidden" name="<?=$key?>" value="<?=$value?>" />
                            <?php endforeach; ?>
                            <button type="submit" class="btn btn-primary btn-custom waves-effect w-md waves-light m-b-5"><?= $locale->_('Confirm') ?></button>
                        </form>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<?php else: ?>
<div class="panel panel-primary panel-border">
    <div class="panel-heading">
        <h3 class="panel-title"><?= $locale->_('Buy for Sberbank') ?></h3>
    </div>
    <div class="panel-body">
        <div class="col-lg-6">
            <form class="form-horizontal" role="form" method="post">
                <div class="form-group">
                    <label for="account" class="col-sm-3 control-label"><?= $locale->_('Account') ?></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="account" name="account" required="" value="<?=$account?>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="amount" class="col-sm-3 control-label"><?= $locale->_('Amount') ?></label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="amount" name="amount" required="" min="0.01" step="0.01" placeholder="0.00">
                    </div>
                </div>
                <div class="form-group">
                    <label for="amount" class="col-sm-3 control-label"><?= $locale->_('Asset') ?></label>
                    <div class="col-sm-9">
                        <select name="asset" id="asset" class="form-control">
                            <?php foreach ($assets as $asset) : ?>
                                <option value="<?=$asset?>"><?=$asset?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary btn-custom waves-effect w-md waves-light m-b-5"><?= $locale->_('Submit') ?></button>
                    </div>
                </div>
            </form>
        </div>
    </div></div>
<?php endif; ?>
